ion-toolbar,
ion-title,
ion-header {
    --background: #00AEEF;
    --color: #FFF;
}

div.row {
    margin-bottom: 15px;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
}

table tr th,
table tr td {
    text-align: center;
    border: 1px solid #000;
    padding: 5px 10px;
}

table tr th {
    background-color: #00AEEF;
    color: #FFF;
}

#pregunta-contianer {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #a2a2a2;
}